{% extends "layout.html" %}

{% set title = "Teacher Home" %}

{% block content %}
    <div class="mt-4">
        <h3>Available Courses</h3>
        <div class="row">
            {% for course in courses %}
                <div class="col-6 col-md-2 p-2">
                    <div class="bg-white px-3 py-5 rounded border text-center">
                        <h5>{{ course.title }}</h5>
                        <a href="{{ url_for('teacher.course', course_id=course.id) }}">Show Course</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}